<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세화면</title>
  </head>
  <body>
    <article>
      <h1>제목: {{movieinfo.title}}</h1>
      <p>개봉년도: {{movieinfo.openyear}}</p>
      <p>장르: {{movieinfo.genre}}</p>
      <p>평점: {{movieinfo.score}}</p>
      <p>상영시간: {{movieinfo.runningtime}} 분</p>
      <p>감독: {{movieinfo.director}}</p>
      <p>배우: {{movieinfo.actor}}</p>
      <div>리뷰: {{movieinfo.content}}</div>
    </article>

    <div>
      <!-- href 쉽게 작성하는법 urls파일에서 name으로 지정했던거이용 -->
      <a href="{% url 'movie:update' movieinfo.id %}">수정</a>
      <!-- 여기서 딜리트 post id가져오는건 지금 현제페이지 디테일페이지에 숫자적혀있는거 그거 그데로가저오는거 -->
      <form action="/delete/{{movieinfo.id}}" method="post">
        {% csrf_token %}
        <button>삭제</button>
      </form>
      <!-- <a href="/delete/{{post.id}}">삭제하기</a> 이렇게 링크로 쓰면안됨 -->
    </div>

    <div><a href="/">my Movie reviews</a></div>
  </body>
</html>
