* {
  box-sizing: border-box; /* 모든 요소에 마진 보더 패딩계산할때 다 더해서 계산하는것으로 변경 */
}

#header-center {
  margin: 0 auto;
  width: 1080px;
}

#header-search a {
  text-decoration: none;
}

div #header-search h1 {
  width: 198px;
  height: 48px;
  display: inline-block;
  /* background-image: url(./sp_search.png);
  background-position: -4px -10px;
  text-indent: 100%;
  overflow: hidden;
  background-repeat: no-repeat; */
  background: url(./sp_search.png) -4px -4px no-repeat;
  vertical-align: middle; /*같은줄 높이정렬*/
}
#header-search h1 span {
  display: none;
}
/* #header_center h1 {} 자손일때는 > 없이  */

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  /* 시계방향으로 패딩한번에 */
  padding: 12px 0 12px 10px;
  width: 521px;
  height: 49px;
  display: inline-block;
  border: 2px solid #03cf5d; /* hex */
  vertical-align: middle; /*같은줄 높이정렬*/
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none; /*컨텐츠 들어갈공간 테두리 없애기*/
}
