* {
  box-sizing: border-box; /* 모든 요소에 마진 보더 패딩계산할때 다 더해서 계산하는것으로 변경 */
}

html,
body {
  margin: 0;
  padding: 0;
}

#fixed {
  /* 스크롤 내려도 화면고정*/
  position: fixed;
  top: 50px;
  right: 50px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
}

.center-align {
  margin: 0 auto;
  width: 1080px;
}

#header-search a {
  text-decoration: none;
}

div #header-search h1 {
  width: 198px;
  height: 48px;
  display: inline-block;
  /* background-image: url(./sp_search.png);
  background-position: -4px -10px;
  text-indent: 100%;
  overflow: hidden;
  background-repeat: no-repeat; */
  background: url(./sp_search.png) -4px -4px no-repeat;
  vertical-align: middle; /*같은줄 높이정렬*/
  position: relative;
  top: -6px;
}
#header-search h1 span {
  display: none;
}
/* #header_center h1 {} 자손일때는 > 없이  */

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  /* 시계방향으로 패딩한번에 */
  padding: 12px 0 12px 10px;
  width: 521px;
  height: 49px;
  display: inline-block;
  border: 2px solid #03cf5d; /* hex */
  vertical-align: middle; /*같은줄 높이정렬*/
  position: relative;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none; /*컨텐츠 들어갈공간 테두리 없애기*/
  vertical-align: top;
  width: 405px;
  height: 23px;
}

#header-search fieldset button {
  width: 49px;
  height: 49px;
  border: none;
  padding: 0;
  background: #03cf5d;
  position: absolute;
  right: -2px;
  top: -2px;
}

#search-image {
  background-image: url(./sp_search.png);
  background-position: -3px -60px;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
  margin: 14px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav li span:first-child {
  height: 16px;
  display: inline-block;
  background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_nav.png);
  background-repeat: no-repeat;
}

nav li:first-child span:first-child {
  /*순서에 의존해서 first-child쓰는거 별로안좋음
    유지 보수할때 순서만 바꾸는데 이 코드 전부다 수정해야할수있음 */
  width: 25px;
  background-position: 0 -285px;
}

nav li:nth-child(2) span:first-child {
  width: 27px;
  background-position: -279px -52px;
}

nav li:nth-child(3) span:first-child {
  width: 40px;
  background-position: -100px -182px;
}

nav li:nth-child(4) span:first-child {
  width: 40px;
  background-position: -101px -156px;
}

nav li:nth-child(5) span:first-child {
  width: 26px;
  background-position: -279px -156px;
}

nav li:nth-child(6) span:first-child {
  width: 25px;
  background-position: -70px -285px;
}

/* 
MDN사이트참고
https://developer.mozilla.org/ko/docs/Web/CSS/Containing_block
컨테이닝 블록의 모든것 부모 자식간의 마진보더패딩크기에따라 서로 영향
쌓임맥락:태그 겹칠때 뭐가 위쪽인지
블록서식문맥:
*/
