#header-center {
  margin: 0 auto;
  width: 1080px;
}

#header-search a {
  text-decoration: none;
}

div #header-search h1 {
  width: 198px;
  height: 48px;
  display: inline-block;
  /* background-image: url(./sp_search.png);
  background-position: -4px -10px;
  text-indent: 100%;
  overflow: hidden;
  background-repeat: no-repeat; */
  background: url(./sp_search.png) -4px -4px no-repeat;
}
#header-search h1 span {
  display: none;
}
/* #header_center h1 {} 자손일때는 > 없이  */

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  /* 시계방향으로 패딩한번에 */
  padding: 12px 0 12px 10px;
  width: 521px;
  height: 49px;
  display: inline-block;
  border: 2px solid #03cf5d;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
