* {
  box-sizing: border-box; /* 모든 요소에 마진 보더 패딩계산할때 다 더해서 계산하는것으로 변경 */
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Dotum, "돋움", Helvetica, "Apple SD Gothic Neo", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.inline-block {
  display: inline-block;
}

.float-left {
  float: left;
}

#fixed {
  /* 스크롤 내려도 화면고정*/
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.relative {
  position: relative;
}

.center-align {
  margin: 0 auto;
  width: 1080px;
}

header {
  height: 170px;
}

#header-top {
  float: right;
  margin-top: 8px;
}

#header-top span {
  color: #888;
  letter-spacing: -1px; /*글자사이 간격*/
  font-size: 11px;
  line-height: 22px; /*폰트 중심선 유지?*/
}

#header-search {
  clear: both;
  padding-top: 45px;
}

#header-search a {
  text-decoration: none;
}

div #header-search h1 {
  width: 198px;
  height: 48px;
  display: inline-block;
  /* background-image: url(./sp_search.png);
  background-position: -4px -10px;
  text-indent: 100%;
  overflow: hidden;
  background-repeat: no-repeat; */
  background: url(./sp_search.png) -4px -4px no-repeat;
  vertical-align: middle; /*같은줄 높이정렬*/
  position: relative;
  top: -5px;
  left: 1px;
}
#header-search h1 span {
  display: none;
}
/* #header_center h1 {} 자손일때는 > 없이  */

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 18px;
  /* 시계방향으로 패딩한번에 */
  padding: 12px 0 12px 10px;
  width: 521px;
  height: 49px;
  display: inline-block;
  border: 2px solid #03cf5d; /* hex */
  vertical-align: middle; /*같은줄 높이정렬*/
  position: relative;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none; /*컨텐츠 들어갈공간 테두리 없애기*/
  vertical-align: top;
  width: 395px;
  height: 23px;
}

#header-search fieldset button {
  width: 49px;
  height: 49px;
  border: none;
  padding: 0;
  background: #03cf5d;
  position: absolute;
  right: -2px;
  top: -2px;
}

#search-keyboard {
  background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_search.svg);
  background-repeat: no-repeat;
  background-position: -33px -60px;
  width: 19px;
  height: 11px;
  display: inline-block;
  margin: 0 6px;
  vertical-align: middle;
}

#search-history {
  background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_search.svg);
  background-repeat: no-repeat;
  background-position: -87px -60px;
  width: 9px;
  height: 4px;
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}

#search-image {
  background-image: url(./sp_search.png);
  background-position: -3px -60px;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
  margin: 14px;
}

nav {
  height: 46px;
  border-top: 1px solid #f1f3f6;
  border-bottom: 1px solid #d1d8e4;
}

nav ul {
  display: inline-block;
  margin: 0;
  padding: 16px 0 0 4px;
  list-style: none;
}

#nav-menu li {
  display: inline-block;
}

#nav-menu li:first-child span:first-child {
  width: 25px;
  background-position: 0 -285px;
  margin-left: 0;
}

#nav-menu li span:first-child {
  height: 16px;
  display: inline-block;
  background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_nav.png);
  background-repeat: no-repeat;
  margin-left: 10px;
}

#nav-menu li:nth-child(2) span:first-child {
  width: 27px;
  background-position: -279px -52px;
}

#nav-menu li:nth-child(3) span:first-child {
  width: 40px;
  background-position: -100px -182px;
}

#nav-menu li:nth-child(4) span:first-child {
  width: 40px;
  background-position: -101px -156px;
}

#nav-menu li:nth-child(5) span:first-child {
  width: 26px;
  background-position: -279px -156px;
}

#nav-menu li:nth-child(6) span:first-child {
  width: 25px;
  background-position: -70px -285px;
}

#nav-menu li:nth-child(7) span:first-child {
  width: 35px;
  background-position: -125px -130px;
}

#nav-menu li:nth-child(8) span:first-child {
  width: 26px;
  background-position: -279px -208px;
}

#nav-menu li:nth-child(9) span:first-child {
  width: 26px;
  background-position: -128px -104px;
}

#nav-menu li:nth-child(10) span:first-child {
  width: 26px;
  background-position: -36px -259px;
}

#nav-menu li:nth-child(11) span:first-child {
  width: 39px;
  background-position: -151px -156px;
}

#nav-menu li:nth-child(12) span:first-child {
  width: 26px;
  background-position: -279px -130px;
}

#nav-menu li:nth-child(13) span:first-child {
  width: 26px;
  background-position: -234px -233px;
}

#nav-menu li:nth-child(14) span:first-child {
  width: 26px;
  background-position: -72px -259px;
}

#nav-menu li:nth-child(15) span:first-child {
  width: 13px;
  background-position: -140px -78px;
}

#nav-menu li:nth-child(16) span:first-child {
  width: 26px;
  background-position: -279px 0;
}

#nav-menu li.more:first-child span:first-child {
  width: 55px;
  background-position: 0 -104px;
}

.nav-divider {
  display: inline-block;
  margin: 18px 16px 0;
  width: 1px;
  height: 14px;
  background: #ebeef3;
}

#search-ranking {
  position: absolute;
  top: 14px;
  right: 0;
  width: 198px;
  height: 20px;
}

#search-ranking:hover ul {
  display: inline-block;
}

#search-ranking ul {
  display: none;
  list-style: none;
  padding: 17px;
  margin: 0;
  width: 332px;
  height: 334px;
  border: 1px solid #aaa;
  background: white;
  position: absolute;
  top: -15px;
  right: 0;
  z-index: 100;
}

#rank-number {
  margin-top: -9px;
  color: #00ab33;
  font-size: 16px;
}

#rank-title {
  letter-spacing: -1px;
  font-size: 14px;
}

main {
  background-color: #f2f4f7;
  display: inline-block;
  width: 100%;
}

#main-centered {
  padding: 8px 10px;
  width: 1100px;
}

#main-first-block {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

#main-ad {
  float: left;
  width: 740px;
  height: 120px;
  background: #555;
  margin-right: 8px;
  margin-bottom: 8px;
}

#main-login {
  float: left;
  width: 332px;
  height: 120px;
  vertical-align: top;
  background-color: white;
  margin-bottom: 8px;
}

#main-second-block {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 8px;
}

#main-second-block .float-left:first-child {
  margin-right: 8px;
  width: 740px;
}

#main-second-block .float-left:last-child {
  width: 332px;
  vertical-align: top;
}

#main-ytn {
  display: inline-block;
  width: 740px;
  height: 46px;
  background-color: white;

  margin-bottom: 8px;
}

#main-ytn h3,
#main-ytn ol {
  /*콤마 전부다 써줘야하는거 주의*/
  display: inline-block;
}

#main-newsstand {
  display: inline-block;
  width: 740px;
  height: 246px;
  background-color: white;
  margin-right: 8px;
  vertical-align: top;
}

#main-newsstand h3 {
  height: 45px;
  border-bottom: 1px solid #ebeef3;
}

#main-newsstand ul {
  /*li 다 감싸기위해 인라인블록*/
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

#main-newsstand li {
  /*가로가운데 정렬 부모*/
  float: left;
  /* calc 픽셀나눌때 비율로 나누기 연산자 사이에 띄어쓰기 주의 */
  width: calc(100% / 6);
  height: 67px;
  border-right: 1px solid #f1f3f6;
  border-bottom: 1px solid #f1f3f6;
  text-align: center;
}

#main-newsstand li img {
  /*세로 가운데 정렬 자식*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /*이미지 기준에 사진 꼭대기라 위치 맞춰주려 사진높이의
  절반만큼 올려줌*/
}

#main-weather {
  display: inline-block;
  width: 332px;
  height: 142px;
  background-color: white;
  margin-bottom: 8px;
  vertical-align: top;
}

#main-second-ad {
  display: inline-block;
  width: 332px;
  height: 150px;
  background: #555;
  vertical-align: top;
}

#main-category {
  float: left;
  width: 740px;
  height: 837px;
  background: white;
  margin-bottom: 8px;
  margin-right: 8px;
}

#main-shopping {
  float: left;
  width: 330px;
  height: 882px;
  background: white;
  margin-bottom: 8px;
}

#main-shopping iframe {
  width: 100%;
  height: 100%;
}

#main-third-block,
#main-fourth-block {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

#main-event {
  float: left;
  width: 740px;
  height: 130px;
  background: white;
  vertical-align: top;
  margin-right: 8px;
}

#main-third-ad {
  float: left;
  width: 332px;
  height: 130px;
  background: #555;
}

/* 
MDN사이트참고
컨테이닝 블록의 모든것 부모 자식간의 마진보더패딩크기에따라 서로 영향
https://developer.mozilla.org/ko/docs/Web/CSS/Containing_block
쌓임맥락:태그 겹칠때 뭐가 위쪽인지
블록서식문맥: 부모입장에서 어디까지 자식인가 파악 (display: block 이랑은 다른것)
float같은경우 문서의 사진삽입처럼 다른 영역과 컨텐츠만 안겹치게 합쳐지는데 이게 합쳐진
큰 영역이 부모가 된게아님 부모로 설정해주려면 overflow: auto;(자식이 넘치면 스크롤만듬
hidden;(자식이 넘치면 잘라버림) 따로줘야함 이런 관계
https://developer.mozilla.org/ko/docs/Web/Guide/CSS/Block_formatting_context

a:같은 효과 적용우선순위 블로그참고
https://www.zerocho.com/category/CSS/post/588cb95ca63e64132496a5d5

nht-child는 앞에 써준거 말고 그냥 위에서 자식수셈
nth-of-type은 앞에써준 태그 그종류의 자식만 셈

마진상쇄정복 overflow, float, position등 사용해서 발생요인 3가지 모두 해결가능방법은
displat inline-block 만들면 (추가로 width를 100% ?) 전부해결되긴함
https://developer.mozilla.org/ko/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing

inline-block 사용하면 픽섹 딱맞게 두 영역 맞췄는데 넘어가는경우 html의 div 엔터로 넘길때
그것이 4픽셀정도인가 반영 이상한 문제이긴한데 자식태그를 float하고 부모태그를 inline-block해서
맞춰줌

가로의 인라인문제는 float left으로 세로의 인라인문제는 vertical-align: top으로 해결
*/
