<!DOCTYPE html>
<html lang="ko">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세화면</title>
  </head>
  <body>
    <article>
      <h2>제목 : {{ ideainfo.ideaname }}</h2>
      {% if ideainfo.ideaphoto %}
      <p>
        <img src="{{ ideainfo.ideaphoto.url }}"/>
      </p>
        {% endif %}

      <div>아이디어 설명 {{ideainfo.ideacontent}}</div>
      <p>예상 개발 툴 <a href="/tooldetail/{{ideainfo.ideatool.id}}">  {{ideainfo.ideatool.toolname}}</a></p>
      <p>아이디어 관심도 {{ideainfo.ideainterest}}</p>
      <p>찜 {{ideainfo.ideachoice}}</p>

    </article>

    <div>
      <!-- href 쉽게 작성하는법 urls파일에서 name으로 지정했던거이용 -->
      업데이트 : <a href="{% url 'swidea:update' ideainfo.id %}">update</a>
      <!-- 여기서 딜리트 post id가져오는건 지금 현제페이지 디테일페이지에 숫자적혀있는거 그거 그데로가저오는거 -->
      <form action="{% url 'swidea:delete' ideainfo.id %}" method="post">
        {% csrf_token %}
        <button>삭제</button>
      </form>
      <!-- <a href="/delete/{{post.id}}">삭제하기</a> 이렇게 링크로 쓰면안됨 -->
    </div>

    <div>홈 화면으로 가기: <a href="/">Home</a></div>
  </body>
</html>